<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}" rel="stylesheet" />
    {% block title %}
        <title>Прогноз погоды</title>
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            {% block header %}
                <h1>Прогноз погоды</h1>
            {% endblock %}
        </header>
        <nav class="nav">
            {% block navigation %}
                <a href="{{url_for('home_page')}}">На главную</a>
                <a href="{{url_for('history')}}">История</a>
                <a href="{{url_for('statistic')}}">Статистика просмотров</a>
            {% endblock %}
        </nav>
        <main class="main">
            {% block main_content %}{% endblock %}
        </main>
        <footer class="footer">
            Данные о погоде <a href="https://open-meteo.com" target="_blank">open-meteo.com</a>
        </footer>
    </div>
</body>
</html>